<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


    <body>
      <% if current_user %>
        <%= link_to "Sign out", "/sign_out" %>
      <% else %>
        <%= link_to "Sign in with Github", "/auth/github" %>
      <% end %>

      <%= yield %>

    </body>
</html>
